/.github/CODEOWNERS @magrhino
/.github/zizmor.yml @magrhino
/.github/workflows/ @magrhino
/dangerfile.js @magrhino

/.dockerignore @magrhino
/Dockerfile @magrhino
/entrypoint.sh @magrhino
/.trivyignore.yaml @magrhino
/scripts/check_trivyignore.py @magrhino

/bin/ @magrhino
/wud/ @magrhino

/pyproject.toml @magrhino
/src/wudup/ @magrhino
/src/wud_updater/ @magrhino

/release-please-config.json @magrhino
/.release-please-manifest.json @magrhino
